<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <link rel="stylesheet" href="Contact.css">
</head>
<body>
    <div class="title">
        <h2>
            Customer service - Contact us
        </h2>
        <p>
            For questions about an order or for more information about our products.
        </p>
        <p class="title-send-message">
            send a message
        </p>
    </div>

    <form class="form">
        <label for="subject">Subject Heading</label>
        <select class="input-form" name="" id="subject">
            <option value="" disabled selected hidden>Choose</option>
            <option value="Customer service">Customer service</option>
            <option value="Webmaster">webmaster</option>
        </select>

        <label for="">Email address</label>
        <input class="input-form" type="text">

        <label for="">Order Reference</label>
        <input class="input-form" type="text">

        <label for="">Attach File</label>
        <input class="input-form" type="file" name="" id="">

        <label for="">Message</label>
        <textarea class="input-form-area" name="" id="" cols="30" rows="10"></textarea>

        <input class="btn-submit" type="submit" name="" id="" value="Send">

    </form>
</body>
</html>