header {
    margin: 0px 80px;
}
.bottom-header {
    display: flex;
    justify-content: space-between;
}
.right-content {
	width:64%;
}
h6 {
    color: #559900;
    margin-bottom: 8px;
}

.name-poem {
    color: #559900;
    font-size: 18px;
}
.money-poem {
    margin: 12px 0px;
    font-weight: bold;
}
.btn-poem {
    padding: 12px;
    color: #898989;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    /* box-shadow: 4px 4px 4px rgb(181, 181, 181); */
    border: rgb(209, 209, 209) 1px solid;
    background: white;
}
.des-poem {
    color: #bdbdbd;
    margin: 4px 0px;
    font-size: 16px;
}